In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel("bjhhof4v92go8ks048wgos0g4cckw44.xls")
df.head(10)

    姓名               身份证号码           手机号     学习总时长  学习总课时
0  王楚璇  13060219900513002X  1.355289e+10  123772.0   45.0
1  张葆莹  110103198208210311  1.510113e+10  112820.0   41.0
2   谢雨  530126198802200012  1.866589e+10  116416.0   43.0
3   王杰  41302619880911722X  1.369136e+10  114871.0   42.0
4   滕飞  230104198805290421  1.338451e+10  125365.0   46.0
5   王姝  21021219800906402X  1.305170e+10  114780.0   42.0
6  滕玉凤  130636198910138346  1.521025e+10  117036.0   43.0
7  常文琦  41090119930923081X  1.881026e+10  123536.0   45.0
8  张庆岷  110106197408043014  1.820116e+10  117206.0   43.0
9   陈硕  110104198201011615  1.326125e+10  122605.0   45.0

In [98]:
df1 = pd.read_excel("bjhhof4v92go8ks048wgos0g4cckw44 - 1.xls")
df1.head(10)

,姓名,Unnamed: 1,Unnamed: 2,身份证号码,Unnamed: 4,Unnamed: 5,学习总时长,学习总课时
0,卜宪法,男,230182199405200000,18611127484,本科,00:00:00,1900-01-01 07:11:54,41
1,陈昊雨,女,110106198509184992,15810808732,本科,00:00:00,00:00:11,0
2,王蕊,女,110101197704050000,13901058390,大专,00:00:00,1900-01-01 06:24:21,40
3,孙琪,女,370703199711171968,13210736018,本科,00:00:00,1900-01-01 10:39:48,46
4,梁丽娜,女,142202198709082000,13020050567,大专,00:00:00,00:00:00,0
5,王婷,女,130402198711200000,13811201402,本科,00:00:00,1900-01-01 09:55:15,45
6,汪冯,女,342101198008299968,13466753774,本科,00:00:00,1900-01-01 09:01:42,44
7,田超,男,650102198508270976,18911368827,本科,00:00:00,1900-01-01 08:30:54,43
8,李肖君,女,130425198703282992,15001000967,本科,00:00:00,1900-01-01 10:12:06,45
9,李金龙,男,130626198908114992,15930250502,初中,00:00:00,1900-01-01 10:15:51,45

In [99]:
df2 = pd.read_excel("bjhhof4v92go8ks048wgos0g4cckw44 - 2.xls")
df2.head(10)

,Unnamed: 0,姓名,身份证号码,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1,王蕊,110101197704050524,2020,8,12,待审核,0
1,2,韩卫辉,110102197810243019,2020,8,12,待审核,0
2,3,刘欣,110102198807311118,2020,8,12,待审核,0
3,4,程少文,110102199010031199,2020,8,12,待审核,0
4,5,张葆莹,110103198208210311,2020,8,12,待审核,0
5,6,申涛,110104197911153031,2020,8,12,待审核,0
6,7,陈硕,110104198201011615,2020,8,12,待审核,0
7,8,李桐,110104199102211210,2020,8,12,待审核,0
8,9,梁丹,110105197805260016,2020,8,12,待审核,0
9,10,张庆岷,110106197408043014,2020,8,12,待审核,0

In [115]:
import operator

count = 0
lis = []
lis_diff  =[]
for i in range(0,df.iloc[:,0].size):
    for j in range(0,df1.iloc[:,0].size):
        if df["姓名"][i] == df1["姓名"][j]:
           # print(str(df["姓名"][i])+"--"+str(df["学习总课时"][i])+"--"+str(df1["学习总课时"][j])+"--"+
                  #str(operator.eq(int(df["学习总课时"][i]),int(df1["学习总课时"][j])))) 
            if operator.eq(int(df["学习总课时"][i]),int(df1["学习总课时"][j])) == True:
                count +=1
                lis.append(df["姓名"][i])
            else:
                lis_diff.append(df["姓名"][i])
print("worksheet和sheet3课时相同的有"+str(count)+"个人，名单为:")
print(lis)
print("worksheet和sheet3课时不相同的名单为:")
print(lis_diff)

worksheet和sheet3课时相同的有69个人，名单为:
['王楚璇', '张葆莹', '谢雨', '王杰', '滕飞', '王姝', '滕玉凤', '常文琦', '张庆岷', '陈硕', '费洪', '李琳', '任燕', '郭帅', '马凤杰', '陈瑶', '李洁', '徐茭茭', '张宏宇', '李桐', '陈琪', '潘灵历', '柴世杰', '武晓妍', '刘奥冰', '王南', '王义森', '郑美玉', '王莹', '韩卫辉', '侯海吉', '段慧艳', '李培先', '关永阳', '张玲莉', '郝淑萍', '刘海英', '丁德双', '马金爽', '王梓琪', '白杨', '吕名妍', '申涛', '李明然', '梁丹', '张金培', '胡晓琴', '夏梦苓', '张家垒', '刘欣', '袁海宁', '程少文', '范闻瑞', '赵晨光', '魏立叶', '刘璠', '胡凤斌', '王凤明', '刘强', '李会龙', '刘宾宾', '李金龙', '李肖君', '田超', '汪冯', '王婷', '孙琪', '王蕊', '卜宪法']
worksheet和sheet3课时不相同的名单为:
[]

In [124]:
count1 = 0
lis1 = []
for i in range(0,df2.iloc[:,0].size):
    for j in range(0,df.iloc[:,0].size):
        if df2["姓名"][i] == df["姓名"][j]:
            lis1.append(df2["姓名"][i])
            count1 += 1
print("worksheet和sheet4相同的有"+str(count1)+"个人，名单为:")
print(lis1)

worksheet和sheet4相同的有12个人，名单为:
['王蕊', '韩卫辉', '刘欣', '程少文', '张葆莹', '申涛', '陈硕', '李桐', '梁丹', '张庆岷', '魏立叶', '任燕']

In [126]:
count2 = 0
lis2 = []
for i in range(0,df2.iloc[:,0].size):
    for j in range(0,df1.iloc[:,0].size):
        if df2["姓名"][i] == df1["姓名"][j]:
            lis2.append(df2["姓名"][i])
            count2 += 1
print("sheet3和sheet4相同的有"+str(count1)+"个人，名单为:")
print(lis1)

sheet3和sheet4相同的有12个人，名单为:
['王蕊', '韩卫辉', '刘欣', '程少文', '张葆莹', '申涛', '陈硕', '李桐', '梁丹', '张庆岷', '魏立叶', '任燕']